@media (min-width: 0px) {
  .editor_container {
    max-width: 100%;
  }
  .editor_pane_container {
    max-width: 100%;
  }
}

.editor {
  width: 100%;
  padding: 10px !important;
  font-size: 16px;
  border-radius: 3px;
}

textarea  {
  box-sizing: border-box;
  height: calc(100vh - 80px) !important;
  border: 1px solid grey !important;
}

.preview_editor {
  padding-top: 10px;
  height: calc(100vh - 80px) !important;
  border-bottom: 1px solid grey !important;
  border-top: 1px solid grey !important;
  overflow: hidden;
  overflow-y: scroll !important;
}

.hiddenImage {
  height: calc(100vh - 80px) !important;
  line-height: calc(100vh - 80px) !important;
}


