@media (min-width: 0px) {
  .editor_container {
    max-width: 100%;
  }
  .editor_pane_container {
    max-width: 100%;
  }
}

.editor {
  width: 100%;
  padding: 10px !important;
  font-size: 16px;
  border-radius: 4px;
  height: calc(100vh - 80px) !important;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255) !important;
  box-shadow: inset 0px 0px 5px 0px rgba(227, 227, 227, 1);

}


.preview_editor {
  padding-top: 10px;
  margin-right:15px;
  height: calc(100vh - 80px) !important;
  // border-bottom: 1px solid grey !important;
  // border-top: 1px solid grey !important;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px 0px rgba(227, 227, 227, 1);
  overflow: hidden;
  overflow-y: scroll !important;
}

.hiddenImage {
  height: calc(100vh - 80px) !important;
  line-height: calc(100vh - 80px) !important;
}


