.navbar {
  margin-top: 0px !important;
  margin-bottom: 15px;
  box-shadow: 0px 2px 5px 0px rgba(122, 122, 122, 1);
}

.projectTitle {
  width: 110px;
}

/* onClick converted Project Title */
.projectTitleInput {
  &:focus {
    background-color: #f8f9fa;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: auto;
  width: 110px;
  background-color: #f8f9fa;
}

.active {
  color: grey;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin: -1px 0px -1px 0px;
}

.nav-item {
  box-sizing: border-box;
  margin-right: 10px;
  cursor: pointer;
}

/* Toolbar */
.editor-toolbar {
  margin-bottom: -2px;
  .active {
    margin: 0px;
    background-color: #6c757d !important;
  }
}

.toolbar-btn {
  outline: none;
  border: none !important;
  background-color: white !important;
  box-shadow: none !important;
  z-index: 0 !important;

  &:hover {
    z-index: 0 !important;
  }
  .focus {
    box-shadow: none !important;
    outline: none !important;
  }
}
